*{
    margin: 0;
    padding: 0;
}
footer{
    display: flex;
    justify-content: center;
    padding-top: 8px;
    margin-top: 25px;
}
#container-footer{
    width: 87%;
    display: flex;
    flex-direction: column;
}
#content-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contato{
    font-size: 1.2em;
}
#copyright{
    display: flex;
    justify-content: center;
}
#content-copyright{
    padding-top: 5px;
    padding-bottom: 5px;
}
.img-footer{
    height: 40px;
    width: 40px;
    border-radius:180px;
    margin: 8px 5px;
}
.wpp{
    border-radius:0px;
}
.content-contato{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    align-items: center;
}
#mapa iframe{
    /* arrumar */
    width: 320px;
    height: 320px;
}
#content-copyright{
    text-transform: uppercase;
    margin-top: 8px;
}
@media (max-width:700px){
    #content-footer{
        flex-direction: column;
        align-items: center;
    }
    #contato{
        margin-bottom: 25px;
    }
    #mapa{
        margin-bottom: 15px;
    }
    #content-copyright{
        text-align: center;
    }
}
