.sobre{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    padding-top: 50px;
    padding-bottom: 50px;
}
.descricao{
    padding-top: 20px;
    width: 50vw;
    text-align: center;
}

.medicos > h2{
    margin-top: 1rem;
    text-align: center;
    font-size: 3rem;
}

.carrossel{
    width: 90%;
    height: 20rem;
    margin: -0.6rem auto 10rem auto;
    
}


.psac-post-short-content{
    word-wrap: break-word;
}

.psac-post-overlay{
    height: 15rem;
    border-radius: 1.5rem;
    border: 2px solid black;
    
}


.name-category{
    height: 100%;
    width: 100%;
    margin: auto auto auto auto;
}
