#pag-med{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#sobre-medico{
    width: 84%;
}
#informacoes-medico{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img-med{
    margin-top: 55px;
    margin-bottom: 25px;
    width: 280px;
    height: 280px;
    border-radius: 360px;
}
.nome-med{
    margin-bottom: 15px;
    font-size: 2.2em;
}
.esp-med{
    margin-bottom: 35px;
}
.p-med{
    font-size: 1.6em;
}
#portifolio{
    width: 84%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#portifolio h1{
    font-size: 2.7em;
    margin-bottom: 25px;
}
.img-port{
    height: 320px;
    margin-right: 70px;
    width: 240px;
    
    background-color: grey;
}
.ult-img-port{
    margin-right: 0;
}
#img-portifolio{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 320px;
    flex-wrap: wrap;
}
@media (max-width:1025px) {
    #img-portifolio{
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 1100px;
    }
    .img-port{
        margin-top: 40px;
        margin-right: 0px;
    }
    
}

.caixa-port{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name-port{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin: 0;
    width: 238px;
    margin-right: 70px;
    top: -75px;
    display: none;
}
.ult-name-port{
    margin-right: 0;
}

.name-port h2{
    padding: 25px 0 25px 0;
    font-size: 1.3em;
}
.img-port:hover + .name-port{
    display: flex;
}
#agenda{
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
